input[type=text]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid RoyalBlue;
    width:412px
}

input[type=email]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid RoyalBlue;
    width:200px
}

input[type=number]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid RoyalBlue;
    width:200px
}

input[type=password]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid RoyalBlue;
    width:412px;
}

select{
		height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: Snow; 
    border:2px solid RoyalBlue;
    width:412px;
}
 
 input[type=submit]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid RoyalBlue;
    width:170px;
	cursor: pointer;
		font-weight:600;
   
}













