table tr td {
	background: snow;
	} 
	
a:link, a:visited {
	text-decoration: none;

	color:black
	}
a:hover {
	background: snow;
	color:SlateBlue;
	text-decoration: snow; 
	color: SlateBlue;
	}
a:active {
	text-decoration: none
	}