/*Estilizando das caixas de entradas em css */
input[type="email"] {
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 15px;
  box-shadow: 10px 10px 20px #555555;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  background: snow;
  border: 2px solid DeepSkyBlue;
  width: 300px;
  outline: none;
}

input[type="password"] {
  height: 40px;
  border-radius: 9px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 15px;
  box-shadow: 10px 10px 20px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  background: snow;
  border: 2px solid DeepSkyBlue;
  width: 300px;
  outline: none;
}

input[type=submit]: {
  height: 40px;
  border-radius: 9px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 15px;
  box-shadow: 10px 10px 20px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  background: snow;
  border: 2px solid DeepSkyBlue;
  width: 300px;
}

.btn {
  height: 30px;
  border-radius: 9px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 15px;
  box-shadow: 10px 10px 20px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  background: snow;
  border: 2px solid DeepSkyBlue;
  width: 200px;
  cursor: pointer;
}
